In [75]:
import pandas as pd 
import researchpy as rp
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [39]:
#Create the contingency table
data = {
    'Smart Thermostat': [50, 80, 60, 30, 20],
    'Smart Light': [70, 100, 90, 50, 50],
    
}

In [68]:
contingency_table = pd.DataFrame(data)
contingency_table

   Smart Thermostat  Smart Light
0                50           70
1                80          100
2                60           90
3                30           50
4                20           50

In [43]:
#Create a DataFrame for the contingency table
satisfaction_levels = ['Very Satisfied', 'Satisfied', 'Neutral', 'Unsatisfied', 'Very Unsatisfied']
contingency_table = pd.DataFrame(data, index=satisfaction_levels)

In [45]:
contingency_table

                  Smart Thermostat  Smart Light
Very Satisfied                  50           70
Satisfied                       80          100
Neutral                         60           90
Unsatisfied                     30           50
Very Unsatisfied                20           50

In [49]:
#The function `chi2_contingency` calculates:
stat, p, dof, expected = chi2_contingency(contingency_table)

In [82]:
print("Chi-Square Statistic:", chi2)  # Chi-Square test statistic
print("P-value:", p)                 # P-value of the test
print("Degrees of Freedom:", dof)    # Degrees of freedom for the test
print("Expected Frequencies:\n", expected)

Chi-Square Statistic: <scipy.stats._continuous_distns.chi2_gen object at 0x000002AC60D746B0>
P-value: 0.22784371130697179
Degrees of Freedom: 4
Expected Frequencies:
 [[ 48.  72.]
 [ 72. 108.]
 [ 60.  90.]
 [ 32.  48.]
 [ 28.  42.]]

In [62]:
alpha = 0.05

if p < alpha:
    print("H0 is rejected, and H1 is accepted")
else:
    print("H1 is rejected, and H0 is accepted")

H1 is rejected, and H0 is accepted

In [79]:
critical_value = chi2.ppf(1 - alpha, dof)
print("Critical Value:", critical_value)

Critical Value: 9.487729036781154

In [84]:
import researchpy as rp

In [92]:
tables, results = rp.crosstab(contingency_table["Smart Thermostat"], contingency_table["Smart Light"], test='chi-square')
tables

C:\Users\Bharath Yadav\anaconda3\Lib\site-packages\researchpy\crosstab.py:146: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Pearson Chi-square ( 12.0) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = f"Pearson Chi-square ({dof: .1f}) = "

                 Smart Light
Smart Light               50 70 90 100 All
Smart Thermostat
20                         1  0  0   0   1
30                         1  0  0   0   1
50                         0  1  0   0   1
60                         0  0  1   0   1
80                         0  0  0   1   1
All                        2  1  1   1   5

In [94]:
results

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   15.0000
1                     p-value =    0.2414
2                  Cramer's V =    1.0000